body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
}

select,
input[type="text"] {
	padding: 6px;
}

input[type="button"] {
	padding: 6px 16px;
}

input[type="range"] {
	vertical-align: middle;
}

#canvas, #player {
	display: block;
	width: 100%;
}

#canvas {
	height: 540px;
}

#canvas:-webkit-full-screen {
	height: auto;
}

#playlist {
	display: block;
	width: 450px;
}

#playlists {
	width: 360px;
}

.playlist-tab,
.playlist-button,
.playlist-label {
	font-size: 11px;
	text-transform: uppercase;
}

.playlist-tab {
	background-color: #888;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	display: inline-block;
	height: 20px;
	margin-right: 30px;
	padding: 10px 20px;
}

.playlist-button {
	margin-left: 30px;
	width: 100px;
}

.config-block {
	display: flex;
	justify-content: space-around;
}

.main-config {
	font-size: 11px;
	margin: 10px 0 50px;
	text-transform: uppercase;
}
.main-config select {
	font-size: 11px;
	padding: 4px;
}

.button-bar {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.player-controls {
	background-color: #f0f0f0;
	margin: 40px 0;
	padding: 10px;
}
.player-controls i {
	cursor: pointer;
	display: inline-block;
	font-size: 32px;
	margin: 10px;
}
.player-controls i.fa-pause {
	margin-left: -10px;
}

.help {
	border-bottom: 1px dotted #080;
	color: #080;
	cursor: help;
	position: relative;
	text-decoration: none;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.switch-bar {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.switch {
	border: 1px solid #ccc;
	border-left-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	padding: 4px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 45px;
}
.switch input {
	display: none;
}
.switch:first-child {
	border-left-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.switch:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.switch.active {
	background: #f0f0f0;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3) inset;
}

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	display: none;
	padding: 10px;
	position: absolute;
	text-transform: none;
	top: 25px;
	width: 200px;
}
.switch .tooltip {
	right: 0;
}

#console {
	background: #1c231a;
	color: #0b0;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
	height: 200px;
	line-height: 1.3;
	margin-top: 20px;
	overflow-y: scroll;
	padding: 10px;
	width: 400px;
	/* FF experimental - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}

#console .fas {
	vertical-align: middle;
}

#console .error {
	color: #c33;
}

#console::-webkit-scrollbar-track {
	background-color: #333;
}
#console::-webkit-scrollbar {
	width: 6px;
}
#console::-webkit-scrollbar-thumb {
	background-color: #080;
}

