body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
}

select,
input[type="text"] {
	padding: 6px;
}

button {
	padding: 6px 16px;
}

input[type="range"] {
	vertical-align: middle;
	width: 80px;
}

#canvas,
#player0,
#player1 {
	display: block;
	width: 100%;
}

#canvas {
	height: 50vh;
}
#canvas:-webkit-full-screen {
	height: auto;
}

#player0,
#player1 {
	margin-bottom: 10px;
}

#playlist {
	display: block;
	width: 100%;
}

#playlists {
	margin-right: 10px;
	width: 100%;
}

.playlist-button,
.config-label {
	font-size: 11px;
	text-transform: uppercase;
}

.playlist-area {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.playlist-title {
	font-weight: bold;
}
.playlist-button {
	width: 100px;
}
.playlist-area .switch-bar {
	padding-left: 100px;
}

.config-block {
	display: flex;
	justify-content: space-around;
}
.config-block > div,
.config-block > ul {
	margin: 0 20px;
}

.main-config,
.ui-panels {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.main-config {
	font-size: 11px;
	margin-bottom: 30px;
}
.main-config select,
.main-config button {
	font-size: 11px;
	padding: 4px;
}

.ui-panels > div {
	width: 33%;
}

.fullscreen-button {
	width: 200px;
}

.local-file-selection {
	margin-top: -6px;
}

.button-bar {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.top40 {
	margin-top: 40px;
}

.player-controls {
	margin-bottom: 40px;
	padding: 10px;
}
.player-controls i {
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 0 #999;
	cursor: pointer;
	display: inline-block;
	font-size: 40px;
	margin: 5px;
	padding: 0 8px;
}
.player-controls i.icons8-pause-button {
	margin-left: -25px;
}

.help {
	cursor: help;
	position: relative;
	text-decoration: none;
}
.help .config-label {
	border-bottom: 1px dotted #080;
	color: #080;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.switch-bar {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}
.switch {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	border: 1px solid #ccc;
	border-left-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 45px;
}
.switch input {
	display: none;
}
.switch:first-child {
	border-left-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.switch:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.switch[data-active="1"] {
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3) inset;
	color: #fff;
}

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	display: none;
	font-size: 11px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: 25px;
	width: 200px;
	z-index: 10;
}
.switch .tooltip {
	left: 0;
	top: 30px;
}
.tooltip.center {
	left: 50%;
	transform: translateX(-50%);
}
.tooltip.shortcuts {
	left: -270px;
	top: -120px;
}

.kbd-table tr td:first-child {
	width: 50px;
}

.key {
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 0 1px rgba(0,0,0,.5);
	display: inline-block;
	font-weight: bold;
	height: 16px;
	min-width: 16px;
	text-align: center;
}
.key-big {
	font-size: 130%;
	line-height: 1;
}
.key-wide {
	width: 50px;
}

#console {
	background: #1c231a;
	color: #0b0;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
	height: 200px;
	line-height: 1.3;
	overflow-y: scroll;
	padding: 10px;
	/* FF experimental - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}

#console i[class^="icons8-"] {
	font-size: 1.2em;
	vertical-align: middle;
}

#console .error {
	color: #c33;
}

#console::-webkit-scrollbar-track {
	background-color: #333;
}
#console::-webkit-scrollbar {
	width: 6px;
}
#console::-webkit-scrollbar-thumb {
	background-color: #080;
}

.credits {
	color: #030;
	font-size: 12px;
	margin: 30px 0;
	text-align: center;
}
.credits a {
	color: #090;
}

@media screen and (max-width: 1400px) {
	.playlist-area .switch-bar {
		padding-left: 50px;
	}
	.config-block > div,
	.config-block > ul {
		margin: 0 5px;
	}
}

@media screen and (max-width: 1140px) {
	.config-block:not(.main-config) {
		display: block;
	}
	.config-block:not(.main-config) > div {
		display: inline-block;
		margin: 0 20px 20px;
		vertical-align: top;
	}
	.ui-panels > div {
		width: calc( 50% - 50px );
	}
	.ui-panels > div:last-child {
		margin-left: calc( 50% + 20px );
	}
}
