@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(Orbitron/orbitron-black-webfont.woff) format('woff');
}

/* latin-ext */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(JetBrainsMono/JetBrainsMono-Regular-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(JetBrainsMono/JetBrainsMono-SemiBold-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(JetBrainsMono/JetBrainsMono-Regular-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(JetBrainsMono/JetBrainsMono-SemiBold-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Sofia Sans Semi Condensed';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(SofiaSansSemiCondensed/SofiaSansSemiCondensed-Italic.woff2) format('woff2');
}
@font-face {
	font-family: 'Sofia Sans Semi Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(SofiaSansSemiCondensed/SofiaSansSemiCondensed-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Sofia Sans Semi Condensed';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(SofiaSansSemiCondensed/SofiaSansSemiCondensed-SemiBold.woff2) format('woff2');
}
@font-face {
	font-family: 'Sofia Sans Semi Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(SofiaSansSemiCondensed/SofiaSansSemiCondensed-Bold.woff2) format('woff2');
}

/* https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete,edit,file_save,keyboard_arrow_down,power_settings_new,unfold_less,unfold_more */
@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 700;
	src: url(MaterialSymbolsRounded.woff2) format('woff2');
}

.material-symbols-rounded {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
