@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

/* Just the Docs theme */

:root {
	--accent-color-1: #fddf6a; /* yellow */
	--accent-color-2: #6ab8fd; /* blue */
	--accent-color-3: #29bcff; /* cyan */
}

a {
	color: var(--accent-color-3);
}

a:not([class]):hover {
	background-image: linear-gradient( 90deg, #23d2ff, #4a68f7, #8550ff, #c63bf3, #fa5476, #ffdf43 );
	background-size: 100% 1px;
	color: var(--accent-color-1);
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"helvetica neue","segoe ui",helvetica,roboto,noto,arial,sans-serif;
}

h1, h2, h3, h4,
.site-title {
	background: linear-gradient( -45deg, #ffdf43, #fa5476, #c63bf3, #8550ff, #4a68f7, #23d2ff );
	background-clip: text;
	font-family: Orbitron, sans-serif;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2, h4 {
	display: table;
}

.site-title {
	font-size: 32px !important;
	justify-content: center;
}

@media (min-width: 31.25rem) {
	.site-title {
		margin: .5em;
		padding: 0;
	}

	h4, .text-delta {
		font-size: 13px !important;
	}
}

.page-content a {
	white-space: normal;
}
