* {
	box-sizing: border-box;
	font-size: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
}

select,
input[type="text"] {
	padding: 6px;
}

button {
	background: #e1e1e1;
	border: 1px solid #adadad;
	border-radius: 5px;
	padding: 6px 16px;
}
button:hover {
	background: #e5f1fb;
	border: 1px solid #0078d7;
}
button.switch[data-active="1"] {
	background: #888;
	box-shadow: inset 1px 1px 0 #0008;
	color: #b2ff00;
	text-shadow: 1px 1px 5px;
}

input[type="range"] {
	vertical-align: middle;
	width: 80px;
}

header {
/*	background: #000; */
	color: #eee;
	padding: 10px 20px;
	position: fixed;
	right: 0;
}
h1 {
	background: linear-gradient(-45deg, #ffdf43, #fa5476, #c63bf3, #8550ff, #4a68f7, #23d2ff);
	background-clip: text;
	display: inline;
	font: 30px Orbitron, sans-serif;
	margin: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.analyzer {
	background: #000;
	height: calc( 100vh - 550px );
	min-height: 270px;
}
.analyzer canvas {
	display: block;
	width: 100%;
}
.analyzer canvas:-webkit-full-screen {
	height: auto;
}

#player0,
#player1 {
	display: block;
/*	margin-bottom: 10px; */
	width: 100%
}

#playlists {
	margin-right: 10px;
	width: 100%;
}

#local_file_panel {
	display: none;
	height: 250px;
	line-height: 1.6;
}
#local_file_panel label {
	display: block;
	margin: 20px 0 40px;
}

.config-label {
	font-size: 11px;
	text-transform: uppercase;
}

.playlist-area {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.playlist-area button {
	font-size: 18px;
	margin-left: 5px;
	padding: 3px 8px;
}

.panels-container {
	margin: 0 auto;
	max-width: 1400px;
}

.panel-selector {
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-width: 1px 0 1px 1px;
	float: left;
	list-style: none;
	margin: 10px 0;
	padding: 0;
	width: 100px;
}
.panel-selector li {
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	color: #444;
	cursor: pointer;
	padding: 10px;
}
.panel-selector li.active {
	background: #ccc;
	box-shadow: 1px 1px 2px inset #0008;
}
.panel-selector li:first-child {
	border-top-left-radius: 5px;
}
.panel-selector li:last-child {
	border-bottom: none;
	border-bottom-left-radius: 5px;
}
.panel-selector li.warning::before {
	background: #c00;
	border-radius: 50%;
	color: #fff;
	content: '!';
	display: block;
	font-size: 10px;
	font-weight: bold;
	height: 6px;
	line-height: 0.5;
	margin-left: 10px;
	padding: 4px;
	position: absolute;
	text-align: center;
	width: 6px;
}
.panel-selector [class^="icons8-"] {
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

.config-panel {
	background: #f5f5f5;
	border: 1px solid #ccc;
	height: 400px;
	margin-left: 100px;
	padding: 15px 0;
}

.config-block {
	align-items: center;
	display: flex;
	justify-content: space-around;
}
.config-block > div,
.config-block > ul {
	margin: 0 20px;
}

.main-config,
.ui-panels {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.ui-panels > div {
	flex: 1 1 100%;
}
.ui-panels .button-column {
	flex-shrink: 2;
}
.button-column button {
	margin: 10px 0;
	width: 100px;
}

.main-config {
	font-size: 11px;
	margin-bottom: 30px;
}
.main-config select,
.main-config button {
	font-size: 11px;
	padding: 4px;
}

.fullscreen-button {
	width: 200px;
}

.button-bar {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.top40 {
	margin-top: 40px;
}

.player-controls {
	margin-bottom: 40px;
	padding: 10px;
}
.player-controls button {
/*
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 0 #999;
	cursor: pointer;
	display: inline-block;
*/
	margin: 5px 0;
	padding: 0 8px;
	font-size: 30px;
}

.help {
	position: relative;
	text-decoration: none;
}
.help .config-label {
	border-bottom: 1px dotted #080;
	color: #080;
	cursor: help;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.switch input {
	display: none;
}
.switch-bar {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}
.switch-bar .switch {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	border: 1px solid #ccc;
	border-left-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
}
.switch-bar .switch[data-active="1"] {
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3) inset;
	color: #fff;
}
.switch-bar .switch:first-child {
	border-left-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.switch-bar .switch:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	display: none;
	font-size: 11px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: 25px;
	width: 220px;
	z-index: 10;
}
.tooltip.center {
	left: 50%;
	transform: translateX(-50%);
}
.tooltip.shortcuts {
	left: -270px;
	top: -50px;
}
.switch .tooltip {
	left: 0;
	top: 30px;
}
.button-column .tooltip {
	left: -50%;
}
.player-controls .tooltip {
	right: 0;
}
.playlist-area .tooltip {
	margin-top: 10px;
	right: 0;
}

.kbd-table tr td:first-child {
	width: 50px;
}

.key {
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 0 1px rgba(0,0,0,.5);
	display: inline-block;
	font-weight: bold;
	height: 16px;
	min-width: 16px;
	text-align: center;
}
.key-big {
	font-size: 130%;
	line-height: 1;
}
.key-wide {
	width: 50px;
}

/* File explorer */

#file_explorer {
	align-self: stretch;
	display: flex;
	flex-direction: column;
}
#file_explorer .filelist {
	height: 285px;
}
#file_explorer p {
	margin-top: 0;
	order: 9;
}

.breadcrumb {
	height: 35px;
	list-style: none;
	margin: 0;
	order: -1;
	padding-left: 0;
}
.breadcrumb li {
	cursor: pointer;
	display: inline;
}
.breadcrumb li:hover {
	text-decoration: underline;
}
.breadcrumb li:last-child {
	cursor: default;
	font-weight: 500;
}
.breadcrumb li:last-child:hover {
	text-decoration: none;
}

.filelist {
	background: #fff;
	border: 1px solid #ccc;
	height: 250px;
	list-style: none;
	overflow: auto;
	padding: 0;
	vertical-align: top;
}
.filelist li {
	cursor: pointer;
	line-height: 1.6;
	padding: 0 .75em;
	white-space: nowrap;
}
.filelist li:hover,
.filelist li.current {
	background: #06c;
	color: #fff;
}
.filelist li.selected {
	outline: 1px dashed #5daaf7;
	background: #5daaf7;
}
.filelist [data-type]::before {
	font-family: audioMotion;
	margin-right: 10px;
}
.filelist [data-type="dir"]::before {
	content: '\f116';
}
.filelist [data-path=".."]::before {
	content: '\f119';
}
.filelist [data-type="drive"]::before {
	content: '\f115';
}
.filelist [data-type="file"]::before {
	content: '\f118';
}
.filelist [data-type="list"]::before {
	content: '\f102';
}

#console {
	background: #1c231a;
	color: #0b0;
	display: none;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
	line-height: 1.3;
	overflow-y: scroll;
	padding: 10px;
	/* FF experimental - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}

#console i[class^="icons8-"] {
	font-size: 1.2em;
	vertical-align: middle;
}

#console .error {
	color: #c33;
}

#console::-webkit-scrollbar-track {
	background-color: #333;
}
#console::-webkit-scrollbar {
	width: 6px;
}
#console::-webkit-scrollbar-thumb {
	background-color: #080;
}

.credits {
	color: #030;
	font-size: 12px;
	margin: 30px 0;
	text-align: center;
}
.credits a {
	color: #090;
}

/* Responsive layout */

@media screen and (max-width: 1400px) {
	.panel-selector {
		width: 40px;
	}
	.panel-selector li span {
		display: none;
	}
	.config-panel {
		margin-left: 40px;
	}
}

@media screen and (max-width: 1200px) {
	.config-block > div,
	.config-block > ul {
		margin: 0 5px;
	}
}