.notie-container {
  background: #f8f8f8;
  color: #444;
  font-size: 1.1rem;
  height: auto;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  width: 600px;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.notie-background-overlay {
  background: #000;
}

.notie-alert {
  background: #527200;
  color: #fff;
}

.notie-textbox {
  padding: 40px 20px;
}

.notie-textbox-inner {
  line-height: 1.8;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.notie-button {
  cursor: pointer;
  padding: 16px 10px;
}

.notie-element {
  padding: 10px;
}

.notie-element-half {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.notie-element-third {
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
}

.notie-alert {
  cursor: pointer;
}

.notie-input-field {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto 30px;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: calc( 100% - 20px );
}

/* types 'success' and 'warning' are used to create the 3-column layout of the save/edit preset dialog */

.notie-background-success:not(.notie-element-half) {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  text-align: left;
  width: calc(100% - 100px);
}

.notie-background-success:not(.notie-element-half):hover {
  background: #f2ffd3;
  border-bottom: 1px solid #72aa00;
}

.notie-background-warning:not(.notie-element-half) {
  display: inline-block;
  font-family: 'audioMotion';
  padding: 0 10px 0 0;
  text-align: right;
  width: 50px;
}

/* edit and delete buttons */
.notie-container button {
  border-radius: 10px;
  padding: 8px 10px;
  vertical-align: middle;
}

/* Cancel button on select dialogs */
.notie-container .notie-background-neutral:last-child {
  padding: 40px;
}
