* {
	box-sizing: border-box;
	font-size: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
}

select,
input[type="text"] {
	padding: 6px;
}
input[type="range"] {
	vertical-align: middle;
	width: 80px;
}
input[type="number"] {
	padding: 4px;
	width: 60px;
}

button {
	background: #e1e1e1;
	border: 1px solid #adadad;
	border-radius: 5px;
	padding: 6px 16px;
}
button:hover {
	background: #e5f1fb;
	border: 1px solid #0078d7;
}
button.switch[data-active="1"] {
	background: #888;
	box-shadow: inset 1px 1px 0 #0008;
	color: #b2ff00;
	text-shadow: 1px 1px 5px;
}

header {
	color: #eee;
	padding: 10px 20px;
	position: absolute;
	right: 40px;
}
h1 {
	background: linear-gradient(-45deg, #ffdf43, #fa5476, #c63bf3, #8550ff, #4a68f7, #23d2ff);
	background-clip: text;
	display: inline;
	font: 30px Orbitron, sans-serif;
	margin: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h3 {
	font-size: 1.2em;
	margin: 0 0 .5em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}
table th,
table td {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 6px;
}

.analyzer {
	background: #000;
	height: calc( 100vh - 570px );
	min-height: 270px;
	overflow: hidden;
}
.analyzer canvas {
	display: block;
	width: 100%;
}
.analyzer canvas:-webkit-full-screen {
	height: auto;
}

#player0,
#player1 {
	display: none;
	width: 100%
}

#playlists {
	margin-right: 10px;
	width: 100%;
}

#local_file_panel {
	display: none;
	height: 250px;
	line-height: 1.6;
}
#local_file_panel label {
	display: block;
	margin: 20px 0 40px;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
}

.flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.justify-left {
	justify-content: start;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}

.config-label {
	font-size: 11px;
	text-transform: uppercase;
}
.config-label,
.help {
	margin-bottom: 4px;
}

.playlist-bar,
.playqueue-bar {
	margin-bottom: 10px;
}
.playlist-bar button {
	font-size: 18px;
	margin-left: 5px;
	padding: 3px 8px;
}
.playqueue-bar strong {
	font-size: 16px;
}

.panel-selector {
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-width: 1px 0 1px 1px;
	float: left;
	margin: 10px 0;
	padding: 0;
	width: 100px;
}
.panel-selector li {
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	color: #444;
	cursor: pointer;
	padding: 10px 0 10px 10px;
}
.panel-selector li.active {
	background: #ccc;
	box-shadow: 1px 1px 2px inset #0008;
}
.panel-selector li:first-child {
	border-top-left-radius: 5px;
}
.panel-selector li:last-child {
	border-bottom: none;
	border-bottom-left-radius: 5px;
}
.panel-selector li.warning::before {
	background: #c00;
	border-radius: 50%;
	color: #fff;
	content: '!';
	display: block;
	font-size: 10px;
	font-weight: bold;
	height: 6px;
	line-height: 0.5;
	margin-left: 10px;
	padding: 4px;
	position: absolute;
	text-align: center;
	width: 6px;
}
.panel-selector [class^="icons8-"] {
	font-size: 20px;
	margin-right: 8px;
	vertical-align: middle;
}

.config-panel {
	background: #f5f5f5;
	border: 1px solid #ccc;
	height: 400px;
	margin-left: 100px;
	padding: 15px 0;
}

#files_panel .config-col {
	width: calc( 50% - 120px );
}
#files_panel .config-col:nth-child(2) {
	width: 100px;
}
.button-column button {
	margin: 10px 0;
	width: 100%;
}

.config-row {
	margin: 20px 0 30px;
}
.config-row select {
	padding: 4px;
}

.config-col {
	margin: 0 20px;
}
.config-sub {
	margin-top: 10px;
}

.fullscreen-button {
	width: 200px;
}

.center {
	text-align: center;
}

.player-controls {
	padding: 10px;
}
.player-controls button {
	margin: 5px 0;
	padding: 0 8px;
	font-size: 30px;
}

.help {
	position: relative;
	text-decoration: none;
}
.help .config-label {
	border-bottom: 1px dotted #080;
	color: #080;
	cursor: help;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.switch input {
	display: none;
}
.switch-bar {
	display: inline-block;
	position: relative;
}
.switch-bar .switch {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	border: 1px solid #ccc;
	border-left-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	min-width: 50px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
}
.switch-bar .switch[data-active="1"] {
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3) inset;
	color: #fff;
}
.switch-bar .switch:first-child {
	border-left-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.switch-bar .switch:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	display: none;
	font-size: 11px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: 25px;
	width: 220px;
	z-index: 10;
}
.tooltip.center {
	left: 50%;
	transform: translateX(-50%);
}
.tooltip.shortcuts {
	left: -270px;
	top: -50px;
}
.switch .tooltip {
	top: 30px;
}
.config-col:last-child .tooltip {
	right: 0;
}
.button-column .tooltip {
	left: -50%;
}
.player-controls .tooltip {
	right: 0;
}
.playlist-bar .tooltip {
	margin-top: 10px;
	right: 0;
}

.kbd-table {
	width: 100%;
}
kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
	color: #333;
	display: inline-block;
	font-family: consolas,"Liberation Mono",courier,monospace;
	font-size: 12px;
	font-weight: 700;
	height: 20px;
	line-height: 1.2;
	min-width: 20px;
	padding: 2px 4px;
	text-align: center;
	white-space: nowrap;
}
kbd.big {
	font-size: 14px;
	line-height: 1;
	width: 20px;
}
kbd.wide {
	width: 50px;
}

/* File explorer */

#file_explorer .filelist {
	height: 295px;
}

.breadcrumb {
	height: 35px;
	margin: 0;
	order: -1;
	padding-left: 0;
}
.breadcrumb li {
	cursor: pointer;
	display: inline;
}
.breadcrumb li:hover {
	text-decoration: underline;
}
.breadcrumb li:last-child {
	cursor: default;
	font-weight: 500;
}
.breadcrumb li:last-child:hover {
	text-decoration: none;
}

.filelist {
	background: #fff;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
	padding: 0;
	vertical-align: top;
}
.filelist li {
	cursor: pointer;
	line-height: 1.6;
	padding: 0 .75em;
	white-space: nowrap;
}
.filelist li.current {
	color: #06c;
}
.filelist li.selected {
	outline: 1px dashed #c5e2ff;
	background: #c5e2ff;
}
.filelist li:hover {
	background: #06c;
	color: #fff;
}

.filelist [data-type]::before {
	font-family: audioMotion;
	margin-right: 10px;
}
.filelist [data-type="dir"]::before {
	content: '\f116';
}
.filelist [data-path=".."]::before {
	content: '\f119';
}
.filelist [data-type="mount"]::before {
	content: '\f115';
}
.filelist [data-type="file"]::before {
	content: '\f118';
}
.filelist [data-type="list"]::before {
	content: '\f102';
}

#playlist li {
	position: relative;
}
#playlist li::before {
	content: attr(data-title);
	display: inline-block;
	overflow: hidden;
	vertical-align: text-bottom;
	width: calc( 100% - 4em );
}
#playlist li::after {
	content: attr(data-duration);
	position: absolute;
	right: .75em;
}
#playlist li.current {
	padding-left: .25em;
}
#playlist li.current::before {
	content: "\25b8"" " attr(data-title);
}

#console {
	background: #1c231a;
	color: #0b0;
	display: none;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
	line-height: 1.4;
	overflow-y: scroll;
	padding: 10px;
	/* FF experimental - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}

#console i[class^="icons8-"] {
	font-size: 1.2em;
	vertical-align: middle;
}

#console .error {
	color: #c33;
}

#console::-webkit-scrollbar-track {
	background-color: #333;
}
#console::-webkit-scrollbar {
	width: 6px;
}
#console::-webkit-scrollbar-thumb {
	background-color: #080;
}

.credits {
	color: #030;
	font-size: 12px;
	margin: 20px 0;
	text-align: center;
}
.credits a {
	color: #090;
}

/* Responsive layout */

@media screen and (max-width: 1400px) {
	.panel-selector {
		width: 40px;
	}
	.panel-selector li span {
		display: none;
	}
	.config-panel {
		margin-left: 40px;
	}
}

@media screen and (max-width: 1200px) {
	.config-col {
		margin: 0 5px;
	}

	#files_panel .config-col {
		width: calc( 50% - 70px );
	}
}