:root {
	--accent-color: #6c9700;
	--audioMotion-gradient: linear-gradient( -45deg, #ffdf43, #fa5476, #c63bf3, #8550ff, #4a68f7, #23d2ff );
	--audioMotion-gradient-transparent: linear-gradient( -45deg, #ffdf43cc, #fa5476cc, #c63bf3cc, #8550ffcc, #4a68f7cc, #23d2ffcc );
	--background-image: none;
	--display-background: #1c231a;
	--glass-gradient: linear-gradient( to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100% );
	--glass-gradient-hover: linear-gradient( to bottom, #f2ffd3 0%, #e4f1c5 50%, #d4e1b5 51%, #e9f6ca 100% );
	--glass-gradient-active: linear-gradient( to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100% );
	--glass-active-glow: 0 0 6px var(--light-color); /* inset 1px 1px 1px 0 rgba(0,0,0,.3), 0 0 6px var(--light-color); */
	--light-color: #b2ff00;
	--metal-gradient: linear-gradient( to right, #7a7a7a, #ededed, #7a7a7a );
	--compact-height: 80px;
	--mono-font: 'JetBrains Mono', monospace;
}

* {
	box-sizing: border-box;
	font-size: inherit;
}

body {
	background: var(--metal-gradient);
	color: #222;
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
}

audio {
	display: none;
}

button,
input,
select {
	font-family: inherit;
}

input[type="file"] {
	display: none;
}
input[type="text"],
input[type="number"] {
	padding: .25em;
}
input[type="number"] {
	margin: 2px 0;
	width: 60px;
}

select {
	padding: .25em 0;
}

button,
.button {
	background: var(--glass-gradient);
	border: 1px solid #adadad;
	border-radius: 999px;
	color: #333;
	cursor: pointer;
	font-weight: 400;
	line-height: normal;
	padding: .425em 1.1em;
}
button:not([disabled]):hover,
.button:not([data-active="1"]):hover {
	background: var(--glass-gradient-hover);
	border-color: #72aa00;
}
button:not([disabled]):active {
	background: var(--glass-gradient-active);
	box-shadow: var(--glass-active-glow);
	color: #293d00;
	font-weight: 600;
	text-shadow: var(--glass-active-glow);
}

canvas {
	display: block;
	width: 100%;
}

header {
	align-self: center;
}
header h1 {
	background-clip: text;
	background-color: #0008;
	color: transparent;
	font: 32px 'Orbitron', sans-serif;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
}
h2 {
	font-size: 1.4em;
	margin: 0 0 1em;
	text-align: left;
}
h3 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 1.5em 0 .75em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}
.table-fixed {
	table-layout: fixed;
}

.button {
	display: block;
	text-align: center;
}

/* remove link styling from links that should look like buttons */
a.button {
	text-decoration: none;
}

a.button:visited {
	color: black;
}

.warning::after {
	background: #c00;
	border-radius: 50%;
	box-shadow: 0 0 4px #f00;
	content: ' ';
	display: block;
	height: 1px;
	padding: 3px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

.abs-center {
	left: 50%;
	transform: translateX(-50%);
}

.controls {
	column-gap: 40px;
	display: grid;
	font-size: .85rem;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	padding: 15px 20px;
	row-gap: 20px;
}
.controls form,
.controls select,
.controls .button-bar {
	margin-top: 3px;
	width: 100%;
}
.controls select {
	height: 25px; /* mostly for Firefox, because emojis in the Background selection increase line height */
}

/* custom range inputs - thanks https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
.custom-slider {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}
.custom-slider::-webkit-slider-runnable-track {
	background: linear-gradient(rgba(0,0,0,.5),transparent),rgba(0,0,0,.2);
	border-radius: 999px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.4), inset -1px -1px 0 rgba(0,0,0,.2);
	height: 4px;
	margin-top: 8px;
}
.custom-slider::-moz-range-track {
	background: linear-gradient(rgba(0,0,0,.5),transparent),rgba(0,0,0,.2);
	border-radius: 999px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.4), inset -1px -1px 0 rgba(0,0,0,.2);
	height: 4px;
}
.custom-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: url(img/brushed-knob.png);
	background-size: 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 5px 0 #222, 0 0 0 1px #999;
	height: 18px;
	margin-top: -8px;
	width: 18px;
}
.custom-slider::-moz-range-thumb {
	background: url(img/brushed-knob.png);
	background-size: 100%;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 2px 5px 0 #222, 0 0 0 1px #999;
	height: 18px;
	width: 18px;
}

#color_mode {
	margin-bottom: 0;
}

.player-area {
	background: inherit;
	color: #222;
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 2;
}
.player-area .config-label {
	color: #333;
	font-size: 12px;
	font-weight: 600;
}
.player-area .config-label.help {
	color: #222;
}

.analyzer {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.analyzer.compact {
	background: black;
	bottom: 0;
	height: var(--compact-height) !important;
	top: auto;
}

.bg-container {
	background: #000;
	background-image: var(--background-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: calc( 100vh - 570px );
	min-height: 270px;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: height 1s;
}
.bg-container.repeat {
	background-repeat: repeat-x;
}
.bg-container.cover {
	background-size: cover;
}
.bg-container:fullscreen {
	position: relative !important;
	transition: none;
}
.bg-container:fullscreen .analyzer:not(.compact) {
	top: 50%;
	transform: translateY(-50%);
}
.bg-container:not(:fullscreen) .analyzer:not(.compact) {
	height: 100% !important;
}

.bg-container video,
.bg-dim {
	/* note: these affect both the background video layer and the main video elements! */
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
.bg-container:fullscreen #player0,
.bg-container:fullscreen #player1 {
	object-fit: contain;
}

.bg-container.compact #player0,
.bg-container.compact #player1 {
	height: calc( 100% - var(--compact-height) );
}

.bg-container.pip {
	background-image: none;
}
.bg-container.pip::after {
	content: 'Showing in PIP';
	color: #fff;
}
.bg-container.pip .analyzer,
.bg-container.pip .bg-dim,
.bg-container.pip .warp,
.bg-container.pip video {
	display: none;
}

/**
 * The Safari-specific rules below MUST NOT be combined with :fullscreen selectors, otherwise they won't work!
 * See https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API/Guide#presentation_differences
 */
.bg-container:-webkit-full-screen {
	height: 100%;
	position: relative !important;
	width: 100%;
}
.bg-container:-webkit-full-screen .analyzer:not(.compact) {
	top: 50%;
	transform: translateY(-50%);
}
.bg-container:not(:-webkit-full-screen) .analyzer:not(.compact) {
	height: 100% !important;
}
.bg-container:-webkit-full-screen #player0,
.bg-container:-webkit-full-screen #player1 {
	object-fit: contain;
}

.osd {
	left: 0;
	position: absolute;
	top: 0;
}

#playlists {
	margin-top: 6px;
	width: 100%;
}

.panel-area {
	margin: 0 auto;
	max-width: 1400px;
	position: relative;
	user-select: none;
}

.bottom-panel {
	display: grid;
	grid-template-columns: 1fr 100px 1fr;
	padding: 0 25px;
}

.function-buttons {
	grid-template-columns: repeat( 4, 100px ) !important; /* `auto-fit` doesn't seem to work with justify ?? */
	justify-self: end;
	z-index: 2;
}

.panel-selection {
	grid-template-columns: repeat( auto-fit, 100px ) !important;
	z-index: 2; /* so active buttons glow can overflow the containing div */
}
.panel-selection input:checked + label::before {
	content: '\e313';
	font-family: 'Material Symbols Rounded';
	font-size: 1.25em;
	line-height: .9;
	margin-left: -1em;
	position: absolute;
}

#toggle_panel {
	cursor: pointer;
	font-size: 24px;
	font-weight: 500;
	padding: 0 .5em;
}
#toggle_panel::before {
	content: '\e5d6';
}
#toggle_panel.closed::before {
	content: '\e5d7';
}

/* main panels */

.panel-main {
	margin: 0 auto;
	max-width: 1400px;
	padding-top: 20px;
	position: absolute;
	width: 100%;
}
.panel-main:not(.active) {
	display: none !important;
}

.panel-internal {
	background: #ccc;
	border-radius: 6px;
	box-shadow: inset 0 1px 3px #0008;
	height: 350px;
	margin: 0 25px;
	position: relative;
}

.config-panel,
.file-panel,
.player-area,
.settings {
	user-select: none;
}

.config-panel {
	width: 500px;
}
.config-panel details > div {
	padding: 0 1em;
}
.config-panel details summary {
	border-top: 1px solid #888;
	justify-content: space-between;
	padding: 1em 0;
	position: relative;
}
.config-panel details[open] summary {
	font-weight: 600;
}
.config-panel details > *:last-child {
	margin-bottom: 1.5em;
}
.link-to-docs {
	border: 1px solid green;
	border-radius: 50%;
	color: green;
	display: inline-block;
	font-weight: 600;
	height: 1.25em;
	line-height: 1.2;
	margin-left: .5em;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25em;
}
.link-to-docs::before {
	content: '?';
}
.config-panel table th,
.config-panel table td {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 6px;
	text-align: center;
}
.config-panel input[type="checkbox"] {
	accent-color: var(--accent-color);
	margin: 4px 0;
}
.config-panel p {
	margin: .5em 0;
}
.config-panel > div:last-child {
	padding-bottom: 2em;
}

.field-error {
	border: 4px solid #c00;
	border-radius: 4px;
	color: #c00;
}

.flex {
	display: flex;
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.justify-left {
	justify-content: start;
}
.align-baseline {
	align-items: baseline;
}
.align-center {
	align-items: center;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}

.gap-sm {
	gap: .5em;
}
.gap-md {
	gap: 1em;
}
.gap-lg {
	gap: 2em;
}

.grid {
	align-content: start;
	display: grid;
}
.grid-2-cols {
	grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid-25-75 {
	grid-template-columns: .5fr 1fr !important;
}

.colspan-2 {
	grid-column: span 2;
}
.colspan-3 {
	grid-column: span 3;
}
.rowspan-2 {
	grid-row: span 2;
}
.rowspan-3 {
	grid-row: span 3;
}
.rowspan-4 {
	grid-row: span 4;
}
.rowspan-5 {
	grid-row: span 5;
}

.general-settings input[type="number"],
.general-settings input[type="range"],
.general-settings select {
	margin: 2px 0;
	width: 90px;
}

.general-settings label {
	margin: .5em 0;
}
.general-settings label input {
	margin: 0 !important;
}

.config-label {
	font-weight: 600;
}
.config-label.help {
	cursor: help;
}

.playlist-bar {
	padding: 0 10px 6px;
}
.playqueue-bar {
	padding: 6px 10px 0;
}
.playqueue-bar button {
	min-width: 90px;
}
.playlist-bar button {
	margin-left: 5px;
}
.playqueue-bar strong {
	align-self: center;
	font-size: 1.2em;
	font-weight: 600;
}

.file-panel {
	grid-template-columns: 1fr 150px 1fr;
}

.button-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.button-column button,
.button-column .button {
	border-radius: 20px;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.center {
	text-align: center;
}

.player-panel {
	grid-template-columns: 1fr 370px 1fr;
	margin: 0 auto;
	max-width: 1400px;
	padding: 30px 0 20px;
	position: relative;
}

.controls-left {
	display: flex;
	margin-left: 40px;
	justify-self: start;
}
.controls-left > div:not(:last-child) {
	margin-right: 40px;
}

.controls-right {
	display: flex;
	margin-right: 25px;
	justify-self: end;
}
.player-controls {
	align-self: center;
}
.player-controls .button {
	background: var(--glass-gradient);
	border-radius: 0;
	display: inline-block;
	padding: 8px 10px 4px;
	font-size: 30px;
}
.player-controls .button:first-child {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	padding-left: 15px;
	width: 108px;
}
.player-controls .button:first-child:hover {
	width: 109px;
}
.player-controls .button:last-child {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding-right: 15px;
}
.player-controls .button:not(:last-child) {
	border-right-width: 0;
}
.player-controls .button:not([data-active="1"]):hover {
	background: var(--glass-gradient-hover) !important;
}
.player-controls .button:not(:last-child):not([data-active="1"]):hover {
	border-right-width: 1px !important;
	margin-right: -1px;
	z-index: 1;
}

.help {
	position: relative;
	text-decoration: none;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.progress-bar {
	grid-column: span 3;
	margin: 25px auto 0;
	max-width: 1400px;
	padding: 0 20px;
	width: 100%;
}
.small-display {
	background: var(--display-background);
	border-radius: 3px;
	color: var(--light-color);
	font-family: var(--mono-font);
	font-size: 11.5px;
	margin: 0 10px;
	min-width: 70px;
	padding: 3px 6px;
	text-align: right;
}
.song-progress {
	height: 2px;
	margin: 0;
	padding: 6px 0 10px;
}

.value {
	float: right;
}

/* Switches */

.switch input {
	display: none;
}
.switch-bar {
	position: relative;
}
.switch-bar .switch {
	background: var(--glass-gradient);
	border: 1px solid #adadad;
	border-left-width: 0;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	line-height: normal;
	margin-top: 3px;
	padding: 6px 0 4px;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}
.switch-bar .switch:not([data-active="1"]):hover {
	background: var(--glass-gradient-hover);
	border-color: #72aa00;
}
.switch-bar .switch:nth-child(odd) {
	border-left-width: 1px;
	border-bottom-left-radius: 999px;
	border-top-left-radius: 999px;
}
.switch-bar .switch:last-child:nth-child(odd) {
	border-bottom-right-radius: 999px;
	border-top-right-radius: 999px;
	width: 100%;
}
.switch-bar .switch:nth-child(even) {
	border-bottom-right-radius: 999px;
	border-left-color: transparent;
	border-top-right-radius: 999px;
}
.switch-bar .switch:nth-child(even):not([data-active="1"]):hover {
	border-left-width: 1px;
	margin-left: -1px;
	width: calc( 50% + 1px );
}
.switch-bar .switch:last-child,
.switch-bar .switch:nth-last-child(2):nth-child(odd) {
	border-bottom-width: 1px;
}

.player-controls .button[data-active="1"],
.switch-bar .switch[data-active="1"] {
	background: var(--glass-gradient-active);
	border-color: transparent;
	box-shadow: var(--glass-active-glow);
	color: #293d00;
	text-shadow: var(--glass-active-glow);
}

/* Custom radio buttons and button bars */

.custom-radio-buttons,
.button-bar {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 0, 1fr ) );
}
.button-bar li {
	display: block;
}
.custom-radio-buttons input {
	display: none;
}
.custom-radio-buttons input:checked + label,
.button-bar button:active,
.button-bar .button:active,
.button-bar li.active > a {
	background: var(--glass-gradient-active);
	border-color: transparent;
	box-shadow: var(--glass-active-glow);
	color: #293d00;
	text-shadow: var(--glass-active-glow);
	z-index: 1; /* improve border look on adjacent elements */
}
.custom-radio-buttons label,
.button-bar button,
.button-bar .button,
.button-bar li a {
	background: var(--glass-gradient);
	border: 1px solid #adadad;
	border-radius: 0; /* override button style */
	color: #333;
	cursor: pointer;
	display: block;
	font-size: .85rem;
	font-weight: 400;
	line-height: normal;
	padding: 6px 0 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
/*	text-transform: uppercase; */
/*	transition: .15s ease-in; */
}
.custom-radio-buttons label:first-of-type,
.button-bar button:first-child,
.button-bar .button:first-child,
.button-bar li:first-of-type > a {
	border-bottom-left-radius: 999px;
	border-top-left-radius: 999px;
}
.custom-radio-buttons label:last-of-type,
.button-bar button:last-child,
.button-bar .button:last-child,
.button-bar li:last-of-type > a {
	border-bottom-right-radius: 999px;
	border-top-right-radius: 999px;
}
.custom-radio-buttons label:not(:last-of-type),
.button-bar button:not(:last-child),
.button-bar .button:not(:last-child),
.button-bar li:not(:last-of-type) > a {
	border-right-width: 0;
}
.custom-radio-buttons label:hover,
.button-bar button:not(:active):hover,
.button-bar .button:not(:active):hover,
.button-bar li:not(.active):hover > a {
	background: var(--glass-gradient-hover);
	border-color: #72aa00;
}
.custom-radio-buttons label:not(:last-of-type):hover,
.button-bar button:not(:last-child):hover,
.button-bar .button:not(:last-child):hover,
.button-bar li:not(:last-of-type):hover > a {
	border-right-width: 1px !important;
	margin-right: -1px;
	z-index: 1;
}

.button-bar .help:not(:only-child) .tooltip {
	left: 0;
	top: 40px;
}
.last-column .button-bar .help .tooltip {
    left: auto;
    right: 0;
}
.last-row .button-bar .help:not(:only-child) .tooltip {
	bottom: 40px;
	top: auto;
}

/* Tooltips */

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px #0008;
	color: #444;
	display: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	text-transform: none;
	top: 25px;
	width: 220px;
	z-index: 10;
}
.tooltip.center {
	left: 50%;
	transform: translateX(-50%);
}
.tooltip.right {
	right: 0;
}
.tooltip.shortcuts {
	left: -270px;
	top: -50px;
}
.button-column .tooltip {
	left: calc( 100% + 10px );
	top: 50%;
	transform: translateY(-50%);
}
.controls .tooltip {
	left: 110%;
	top: 0;
}
.player-controls .tooltip {
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
}
.playlist-bar .tooltip {
	margin-top: 10px;
	right: 0;
}
.tooltip kbd {
	margin-left: .5em;
}

.last-column .config-label .tooltip,
.last-column .switch-bar .tooltip {
	left: auto;
	right: 105%;
	top: auto;
	transform: translateY(-50%);
}

.shortcuts {
	width: 600px;
}

.kbd-table {
	width: 100%;
}
.kbd-table tr:nth-child(even) {
	background: #f5f5f5;
}
.kbd-table td {
	border: 1px solid #ddd;
    padding: 4px;
}
kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
	color: #333;
	display: inline-block;
	font-family: var(--mono-font);
	font-size: .85em;
	font-weight: 600;
	height: 1.6em;
	line-height: 1.2;
	min-width: 1.6em;
	padding: 2px 4px;
	text-align: center;
	white-space: nowrap;
}
kbd.narrow {
	padding: 2px 0;
}
kbd.wide {
	width: 50px;
}

/* File explorer */

#file_explorer {
	grid-template-rows: 45px 1fr;
}

#playlist_panel {
	grid-template-rows: auto auto 1fr;
}
#playlist_panel button {
	font-size: .92em;
}

#file_explorer .filelist {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.breadcrumb {
	align-self: end;
	line-height: 1.2;
	margin-bottom: 4px;
	padding: 0 10px;
}
.breadcrumb:not(:empty)::before {
	content: '\f117';
	float: left;
	font-family: audioMotion;
	font-size: 16px;
	margin-right: .25em;
}
.breadcrumb li {
	cursor: pointer;
	display: inline;
}
.breadcrumb li:hover {
	text-decoration: underline;
}
.breadcrumb li:last-child {
	cursor: default;
	font-weight: 600;
}
.breadcrumb li:last-child:hover {
	text-decoration: none;
}

.filelist {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: inset 0 0 3px #0004;
	overflow: auto;
	padding: .25em 0;
	position: relative;
	vertical-align: top;
}
.filelist.loading {
	overflow: hidden;
}
.filelist.loading::before {
	align-items: center;
	background: #fffd;
	content: 'Loading...';
	display: flex;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.filelist li {
	cursor: pointer;
	line-height: 1.6;
	padding: 0 .5em;
	white-space: nowrap;
}
.filelist li.current {
	color: #06c;
}
.filelist li.error {
	color: #c00;
}
.filelist li.full-panel {
	align-items: center;
	display: flex;
	font-size: 2em;
	height: 100%;
	justify-content: center;
}
.filelist li.selected {
	outline: 1px dashed #c5e2ff;
	background: #c5e2ff;
}
.filelist li:hover {
	background: #06c;
	color: #fff;
}
.filelist li.error:hover {
	background: #c00;
}

.filelist [data-type]::before {
	font-family: audioMotion;
	margin-right: 10px;
}
.filelist [data-type="dir"]::before,
.filelist [data-type="request"]::before {
	content: '\f116';
}
.filelist [data-path=".."]::before {
	content: '\f119';
}
.filelist [data-type="mount"]::before {
	content: '\f115';
}
.filelist [data-type="file"]::before {
	content: '\f118';
}
.filelist [data-type="list"]::before {
	content: '\f102';
}
.filelist [data-subs="1"]::after {
	background: #444;
	border-radius: .25em;
	color: #f0f0f0;
	content: 'SUBS';
	font-size: .6em;
	margin-left: .5em;
	padding: .25em .5em;
	vertical-align: middle;
}

.locked-panel {
	align-items: center;
	background: linear-gradient( 90deg, transparent, #000d 2%, #000d 98%, transparent );
	color: #ccc;
	display: flex;
	flex-direction: column;
	height: 405px;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -30px;
	transition: .35s all;
	width: 100%;
	z-index: 9;
}
.locked-panel h1 {
	font-size: 3em;
	margin: .25em 0;
}
.locked-panel p {
	font-size: 1em;
}
.locked-panel p strong {
	color: #fff;
	font-weight: 600;
}
.locked-panel .material-symbols-rounded {
	font-size: 60px;
	font-weight: 700;
}
.locked .locked-panel {
	opacity: 1;
	pointer-events: all;
}

#playlist li {
	position: relative;
}
#playlist li::before {
	content: attr(data-title);
	display: inline-block;
	overflow: hidden;
	vertical-align: text-bottom;
	width: calc( 100% - 4em );
}
#playlist li::after {
	content: attr(data-duration);
	position: absolute;
	right: .75em;
}
#playlist li.current {
	padding-left: .25em;
}
#playlist li.current::before {
	content: "\25b8"" " attr(data-title);
}

#console .error {
	color: #f33;
}

#console-content {
	background: var(--display-background);
	border-radius: 6px;
	color: #0b0;
	font-family: var(--mono-font);
	font-size: 12.5px;
	height: 100%;
	line-height: 1.5;
	overflow-y: scroll;
	padding: 10px;
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}
#console-content::-webkit-scrollbar-track {
	background-color: #333;
}
#console-content::-webkit-scrollbar {
	width: 6px;
}
#console-content::-webkit-scrollbar-thumb {
	background-color: #080;
}
#console-content a {
	color: inherit;
}
#console-content div {
	margin-left: 8.75em;
	text-indent: -9em;
}

#console-clear {
	background: var(--display-background);
	border: 1px solid #0c0;
	color: #0c0;
	cursor: pointer;
	font-size: 12px;
	padding: 2px 6px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
}
#console-clear {
	right: 20px;
}
#console-clear:hover {
	background: #0c0;
	color: #000;
}

.credits {
	margin-bottom: 2em;
}
.credits a:not([class]) {
	color: #090;
}
.credits h1 {
	background: var(--audioMotion-gradient);
	background-clip: text;
	display: inline;
	font: 3em 'Orbitron', sans-serif;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.credits p,
.credits li {
	line-height: 2;
}
.credits li {
	display: inline-block;
	margin: 0 .5em;
}
.credits li:not(:last-child)::after {
	content: '\22c5';
	margin-left: 1em;
}

.update-banner {
	background: var(--audioMotion-gradient-transparent);
	border-bottom: 1px solid #fffc;
	font-family: 'Orbitron';
	font-size: 2.5vw;
	position: fixed;
	text-align: center;
	top: -2.1em;
	transition: top 2s;
	width: 100%;
	z-index: 999;
}
.update-banner.show {
	top: 0;
}
.update-banner a {
	color: white;
	display: block;
	padding: .5em;
	text-decoration: none;
}

/**
 * Slider switches
 */

input.slider {
	display: none;
}

label.slider {
	background: linear-gradient( rgba(0,0,0,.6), transparent ), rgba(0,0,0,.3);
	border-radius: 1.5em;
	box-shadow:	0 0.07em 0.1em -0.1em rgba(0,0,0,.4) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7);
	cursor: pointer;
	display: inline-block;
	font-size: 8px;
	height: 3em;
	margin: 5px 0 10px;
	position: relative;
	transition: 350ms;
	vertical-align: middle;
	width: 5.5em;
}

label.slider::before {
	background: url(img/brushed-knob.png);
	background-size: 100%;
	border-radius: 50%;
	box-shadow:	0 0.1em 0.15em -0.05em rgba(255,255,255,.5) inset,
				0 0.5em 0.3em -0.1em rgba(0,0,0,.25);
	content: '';
	height: 2em;
	left: 0.5em;
	position: absolute;
	top: 0.5em;
	transition: 250ms ease-in-out;
	width: 2em;
}

label.slider::after {
	content: '';
	width: .5em;
	height: .5em;
	left: 6em;
	border-radius: 50%;
	background: linear-gradient( rgba(0,0,0,0.07), rgba(255,255,255,0.1) ), #444;
	box-shadow:	0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
				-7em 0 0 0 var(--light-color),
				-7em 0.05em 0.08em -0.01em rgba(255,255,255,.5);
	position: absolute;
	top: 1.25em;
	transition: 250ms ease-in-out;
}

label.slider.on-off::after {
	background: transparent;
	box-shadow:	0 0.08em 0.15em -0.1em transparent,
				0 0.05em 0.08em -0.01em transparent,
				-7em 0 0 0 var(--light-color),
				-7em 0.05em 0.08em -0.01em rgba(255,255,255,.5);
}

.slider-on,
.slider-off {
	bottom: -1.5em;
	color: #444;
	font-size: 10px;
	position: absolute;
	transition: 250ms ease-in-out;
}

.slider-off {
	left: 4em;
}
.slider-on {
	left: -1.3em;
}

input.slider:checked + .slider::before {
	left: 3em;
}

input.slider:checked + .slider::after {
	background: linear-gradient( rgba(0,0,0,.07), rgba(255,255,255,.1) ), var(--light-color);
	box-shadow:	0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
				-7em 0 0 0 rgba(0,0,0,.7),
				-7em 0.05em 0.08em -0.01em rgba(255,255,255,.5);
}

input.slider:checked + .slider.on-off::after {
	background: transparent;
	box-shadow:	0 0.08em 0.15em -0.1em transparent,
				0 0.05em 0.08em -0.01em transparent,
				-7em 0 0 0 rgba(0,0,0,.7),
				-7em 0.05em 0.08em -0.01em rgba(255,255,255,.5);
}

input.slider:checked + .slider:not(.on-off) .slider-off,
input.slider:not(:checked) + .slider .slider-on {
	text-shadow: 0px 0px 5px;
	color: var(--light-color);
}

/**
 *  Pure CSS modal windows
 */
.modal-window {
	background-color: #000a;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: all .3s;
	visibility: hidden;
	z-index: 999;
}
.modal-window:target {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}
.modal-window > div {
	background: #fffe;
	box-shadow: -5px 0 10px #0008;
	height: 100%;
	max-width: 90%;
	overflow: auto;
	padding: 2em;
	position: absolute;
	right: -100%;
	top: 0;
	transition: all .3s;
}
.modal-window:target > div {
	right: 0;
}

.modal-close::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.modal-close-internal {
	background: #444;
	color: #fff;
	padding: 10px 10px 8px;
	position: absolute;
	right: 1px;
	text-decoration: none;
	top: 1px;
}
.modal-close-internal::before {
	content: '\2715';
}
.modal-close-internal:hover {
	background: #c00;
}

/**
 * Volume and balance knobs
 */
.knob {
	background: url(img/brushed-knob.png);
	background-size: 100%;
	border-radius: 50%;
	box-shadow: inset -1px 1px 0 0 rgba(255,255,255,0.1),
		inset 1px -1px 0 0 rgba(17,17,17,0.2),
		4px 4px 10px 0 #222,
		0 10px 10px -5px #222,
		0 0 0 1px #666;
	cursor: url(img/icons/mousescroll.png) 16 16, ns-resize;
	display: inline-block;
	height: 35px;
	position: relative;
	width: 35px;
}
.knob-vol {
	height: 60px;
	margin: -10px 20px 0 80px;
	width: 60px;
}

.knob::after,
.knob::before {
	bottom: -6px;
	color: #444;
	font-size: 10px;
	position: absolute;
	transition: all 200ms ease-in-out;
}
.knob::after {
	content: 'MAX';
	right: -1.5em;
}
.knob::before {
	content: 'MIN';
	left: -1.5em;
}
.knob-bal::after {
	content: 'R';
	right: -.5em;
}
.knob-bal::before {
	content: 'L';
	left: -.5em;
}

.knob[data-value="1"]::after,
.knob-vol[data-value="0"]::before,
.knob-bal[data-value="-1"]::before {
	color: var(--light-color);
	text-shadow: 0 0 5px;
}

.knob label {
	position: absolute;
	top: -20px;
}
.knob-vol label {
	left: -45px;
	top: 10px;
}

.knob .marker {
	background-color: var(--light-color);
	border-radius: 2px;
	box-shadow: inset 1px -1px 0 0 rgba(17,17,17,.3),
		0 0 5px 0 var(--light-color);
	height: 4px;
	left: 75%;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	transition: all 200ms ease-in-out;
	transform-origin: -100% 50%;
	width: 25%;
}

/* Subtitles */
::cue {
	font-weight: 600;
	line-height: 1.2;
}
.subs-bg-none ::cue {
	background: transparent;
}
.subs-bg-shadow ::cue {
	background: transparent;
	text-shadow: .075em .075em .2em black, -.075em -.075em .2em black;
}
.subs-bg-solid ::cue {
	background: #000c;
}
.subs-color-gold ::cue {
	color: gold;
}
.subs-color-gray ::cue {
	color: lightgray;
}
.subs-color-white ::cue {
	color: white;
}
.subs-color-yellow ::cue {
	color: yellow;
}

/* Color gradient editor */
.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-5px {
	margin-top: 5px;
}

.grad-color-row td {
	padding: 5px 10px 5px 0
}

.grad-color-row td:first-child {
	padding: 5px 5px 5px 0;
}

.grad-color-row td:last-child {
	padding: 5px 0 5px;
}

.grad-add-stop, .grad-remove-stop {
	border: none;
	background: #444;
	color: #fff;
	padding: 0;
	border-radius: 10px;
	text-align: center;
	height: 35px;
	width: 35px;
}

button.grad-remove-stop[disabled] {
	opacity: 0.8;
}

button.grad-remove-stop:hover:not([disabled]) {
	border: none;
	background: #c00 !important;
}

button.grad-add-stop:hover {
	border: none;
	background: #34a800 !important;
}

.grad-add-stop::before {
	content: '\FF0B';
}

.grad-remove-stop::before {
	content: '\2212';
}

.grad-color-value, .grad-color-stop {
	text-align: center;
}

#grad-color-table-template {
	display: none;
}

#enabled_gradients label {
	padding: .25em;
	position: relative;
}
#enabled_gradients label:hover {
	background: #f8f8f8;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
#enabled_gradients label:hover > .grad-edit-link {
	display: block;
}
.grad-edit-link {
	background: var(--accent-color);
	border-radius: 4px;
	color: #fff;
	display: none;
	font-size: .9em;
	padding: .7em 1.4em;
	position: absolute;
	right: 0;
	text-decoration: none;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
}

/**
 * Warp Tunnel effect
 */
:root {
	--warp-duration: 12s;
	--warp-size: 1000px;
}

.bg-container::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.warp {
	display: inline-block;
	perspective: 15px;
	perspective-origin: 50% 50%;
	position: relative;
	vertical-align: middle;
}
.warp.rotating {
	animation: warp-rotate 30s infinite linear;
}

.warp-block {
	animation: warp-move var(--warp-duration) infinite linear;
	animation-fill-mode: forwards;
	height: var(--warp-size);
	left: calc( var(--warp-size) / -2 );
	position: absolute;
	top: calc( var(--warp-size) / -2 );
	transform-style: preserve-3d;
	width: var(--warp-size);
}
.warp-block:nth-child(2) {
	animation: warp-move var(--warp-duration) infinite linear;
	animation-delay: calc( var(--warp-duration) / 2 );
}

.warp-wall {
	animation: warp-fade var(--warp-duration) infinite linear;
	background: var(--background-image);
	background-size: cover;
	height: 100%;
	position: absolute;
	opacity: 0;
	width: 100%;
}
.warp-block:nth-child(2) .warp-wall {
	animation-delay: calc( var(--warp-duration) / 2 );
}
.warp-wall-right {
	transform: rotateY(90deg) translateZ( calc( var(--warp-size) / 2 ) );
}
.warp-wall-left {
	transform: rotateY(-90deg) translateZ( calc( var(--warp-size) / 2 ) );
}
.warp-wall-top {
	transform: rotateX(90deg) translateZ( calc( var(--warp-size) / 2 ) );
}
.warp-wall-bottom {
	transform: rotateX(-90deg) translateZ( calc( var(--warp-size) / 2 ) );
}
.warp-wall-back {
	transform: rotateX(180deg) scaleY(-1) translateZ( calc( var(--warp-size) / 2 ) );
}

.warp.paused,
.paused .warp-block,
.paused .warp-wall {
	animation: none;
	opacity: 1;
}

@keyframes warp-fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes warp-move {
	0% {
		transform: translateZ( calc( var(--warp-size) / -2 ) ) rotate(0deg);
	}
	100% {
		transform: translateZ( calc( var(--warp-size) / 2 ) ) rotate(0deg);
	}
}
@keyframes warp-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Responsive layout */

@media screen and (max-width: 1225px) {
	header h1 {
		font-size: 26px;
	}
	#file_explorer,
	#playlist_panel {
		margin: 0 5px;
	}
	.bottom-panel {
		padding: 0 5px;
	}
	.controls {
		column-gap: 20px;
	}
	.controls-left {
		margin-left: 20px;
	}
	.controls-right {
		margin-right: 5px;
	}
	.file-panel {
		grid-template-columns: 1fr 110px 1fr;
	}
	.panel-internal {
		margin: 0;
	}
	.progress-bar {
		padding: 0;
	}
	.value {
		height: 1em;
		max-width: 40%;
		overflow: hidden;
		text-align: right;
	}
}
