* {
	box-sizing: border-box;
	font-size: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
}

select,
input[type="text"] {
	padding: 4px 0;
}
input[type="range"] {
	vertical-align: middle;
}
input[type="number"] {
	padding: 4px;
}

button {
	background: #e1e1e1;
	border: 1px solid #adadad;
	padding: 6px 16px;
}

header {
	margin: 10px auto 15px;
	max-width: 960px;
}
header li.warning::before {
	background: #c00;
	border-radius: 50%;
	color: #fff;
	content: '!';
	display: block;
	font-size: 10px;
	font-weight: bold;
	height: 6px;
	line-height: 0.5;
	margin-left: 15px;
	padding: 4px;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 6px;
}

h1 {
	background-clip: text;
	background-color: #0008;
	color: transparent;
	font: 30px Orbitron;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
}
h3 {
	font-size: 1.2em;
	margin: 1em 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.button {
	background: linear-gradient( rgba(0,0,0,0.07), rgba(255,255,255,0) ), #eee;;
	border: 1px solid #adadad;
	padding: 6px 16px;
}
button:hover,
.button:hover {
	background: #e5f1fb;
	border: 1px solid #0078d7;
}
.button.switch[data-active="1"] {
	background: #888;
	box-shadow: inset 1px 1px 0 #0008;
	color: #b2ff00;
	text-shadow: 0 0 5px;
}

.round-button {
	background: linear-gradient( rgba(0,0,0,0.07), rgba(255,255,255,0) ), #eee;
	border: 1px solid #777;
	border-radius: 50%;
	box-shadow: 1px 1px 2px #0008;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	height: 32px;
	margin: 0 6px;
	position: relative;
	width: 32px;
}
.round-button a {
	color: inherit;
	display: block;
	text-decoration: none;
}
.round-button i {
	line-height: 1.7;
	margin-left: 1px;
}
.round-button.active {
	background: #888;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.53);
	color: #b2ff00;
	text-shadow: 0 0 5px;
}
.round-button::after {
	bottom: -1.5em;
	color: #222;
	content: attr(data-text);
	font-size: 10px;
	left: 50%;
	position: absolute;
	text-shadow: none;
	transform: translateX(-50%);
}
.icon-about {
	font-family: Orbitron;
	font-style: normal;
}

.abs-center {
	left: 50%;
	transform: translateX(-50%);
}

.settings {
	background: #f0f0f0f0;
	border: 1px solid #888;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-width: 0;
	margin-top: -301px;
	padding: 10px;
	position: absolute;
	transition: margin-top .5s;
	width: 700px;
	z-index: 1;
}
.settings.active {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	margin-top: 0;
}

.settings-close {
	bottom: 0;
	cursor: pointer;
	padding: 0 20px;
	position: absolute;
}
.settings-close::before {
	color: #666;
	content: '\276e';
	display: inline-block;
	font-size: 18px;
	transform: rotate(90deg);
}

.controls {
	display: grid;
	font-size: 11px;
	grid-auto-flow: column;
	grid-gap: 5px 15px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	padding: 0 5px;
}
.controls input,
.controls select {
	margin: 4px 0;
	width: 100%;
}

.player-area {
	background: linear-gradient(to right, #7a7a7a, #ededed, #7a7a7a) !important;
	color: #222;
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 2;
}
.player-area .config-label {
	font-size: 11px;
}
.player-area .config-label.help {
	color: #222;
}

.analyzer {
	background: #000;
	height: calc( 100vh - 570px );
	min-height: 270px;
	overflow: hidden;
}
.analyzer canvas {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: block;
	width: 100%;
}
.analyzer canvas:-webkit-full-screen {
	height: auto;
}
.analyzer canvas.repeat {
	background-repeat: repeat-x;
}
.analyzer canvas.cover {
	background-size: cover;
}

#player0,
#player1 {
	display: none;
	width: 100%
}

#playlists {
	margin-right: 10px;
	width: 100%;
}

#local_file_panel {
	display: none;
	height: 250px;
	line-height: 1.6;
}
#local_file_panel label {
	display: block;
	margin: 20px 0 40px;
}

.config-panel {
	background: #f5f5f5 !important;
	font-size: 12px;
	height: 400px;
	padding-top: 0 !important;
	width: 880px !important;
}
.config-panel table th,
.config-panel table td {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 6px;
	text-align: center;
}

.container {
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.justify-left {
	justify-content: start;
}
.align-center {
	align-items: center;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}

.grid {
	align-content: start;
	display: grid;
}
.grid-2-cols {
	grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.rowspan-2 {
	grid-row: span 2;
}
.rowspan-3 {
	grid-row: span 3;
}

.config-label {
	font-size: 10px;
	text-transform: uppercase;
}
.config-label.help {
	border-bottom: 1px dotted;
	color: #080;
	cursor: help;
}

.playlist-bar,
.playqueue-bar {
	margin-bottom: 10px;
}
.playlist-bar button {
	font-size: 18px;
	margin-left: 5px;
	padding: 3px 8px;
}
.playqueue-bar strong {
	font-size: 16px;
}

.file-panel {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 10px;
}
.file-panel .config-col {
	width: calc( 50% - 120px );
}
.button-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px !important;
}
.button-column button {
	margin: 10px 0;
	width: 100%;
}

.config-row {
	margin: 20px 0 30px;
}
.config-row select {
	padding: 4px;
}

.config-col {
	margin: 4px 0;
}

div.value {
	float: right;
}

.fullscreen-button {
	width: 200px;
}

.center {
	text-align: center;
}

.player-panel {
	margin: 15px 0 5px;
}
.player-controls .button {
	display: inline-block;
	margin: 5px 0;
	padding: 0 8px;
	font-size: 30px;
}

.help {
	position: relative;
	text-decoration: none;
}
.help:hover > .tooltip,
.switch:hover > .tooltip {
	display: block;
}

.switch input {
	display: none;
}
.switch-bar {
	position: relative;
}
.switch-bar .switch {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	border: 1px solid #ccc;
	border-bottom-width: 0;
	border-left-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}
.switch-bar .switch[data-active="1"] {
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3) inset;
	color: #fff;
}
.switch-bar .switch:nth-child(odd) {
	border-left-width: 1px;
}
.switch-bar .switch:last-child:nth-child(odd) {
	width: 100%;
}
.switch-bar .switch:last-child,
.switch-bar .switch:nth-last-child(2):nth-child(odd) {
	border-bottom-width: 1px;
}
.config-label + .switch-bar {
	margin-top: 4px;
}

.tooltip {
	background-color: #fffce0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px #0008;
	color: #444;
	display: none;
	font-size: 11px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-shadow: none;
	text-transform: none;
	top: 25px;
	width: 220px;
	z-index: 10;
}
.tooltip.center {
	left: 50%;
	transform: translateX(-50%);
}
.tooltip.right {
	right: 0;
}
.tooltip.shortcuts {
	left: -270px;
	top: -50px;
}
.button-column .tooltip {
	left: 110%;
	top: 50%;
	transform: translateY(-50%);
}
.controls .tooltip {
	left: 110%;
	top: 0;
}
.player-controls .tooltip {
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
}
.playlist-bar .tooltip {
	margin-top: 10px;
	right: 0;
}

.kbd-table {
	width: 100%;
}
kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
	color: #333;
	display: inline-block;
	font-family: consolas,"Liberation Mono",courier,monospace;
	font-size: 12px;
	font-weight: 700;
	height: 20px;
	line-height: 1.2;
	min-width: 20px;
	padding: 2px 4px;
	text-align: center;
	white-space: nowrap;
}
kbd.big {
	font-size: 14px;
	line-height: 1;
	width: 20px;
}
kbd.wide {
	width: 50px;
}

/* File explorer */

#file_explorer .filelist {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 295px;
}

.breadcrumb {
	min-height: 35px;
	margin: 0;
	order: -1;
	padding-left: 0;
}
.breadcrumb::before {
	content: '\f117';
	font-family: audioMotion;
	font-size: 18px;
	margin-right: .25em;
	vertical-align: sub;
}
.breadcrumb li {
	cursor: pointer;
	display: inline;
}
.breadcrumb li:hover {
	text-decoration: underline;
}
.breadcrumb li:last-child {
	cursor: default;
	font-weight: 500;
}
.breadcrumb li:last-child:hover {
	text-decoration: none;
}

.filelist {
	background: #fff;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
	padding: 0;
	vertical-align: top;
}
.filelist li {
	cursor: pointer;
	line-height: 1.6;
	padding: 0 .75em;
	white-space: nowrap;
}
.filelist li.current {
	color: #06c;
}
.filelist li.selected {
	outline: 1px dashed #c5e2ff;
	background: #c5e2ff;
}
.filelist li:hover {
	background: #06c;
	color: #fff;
}

.filelist [data-type]::before {
	font-family: audioMotion;
	margin-right: 10px;
}
.filelist [data-type="dir"]::before {
	content: '\f116';
}
.filelist [data-path=".."]::before {
	content: '\f119';
}
.filelist [data-type="mount"]::before {
	content: '\f115';
}
.filelist [data-type="file"]::before {
	content: '\f118';
}
.filelist [data-type="list"]::before {
	content: '\f102';
}

#playlist li {
	position: relative;
}
#playlist li::before {
	content: attr(data-title);
	display: inline-block;
	overflow: hidden;
	vertical-align: text-bottom;
	width: calc( 100% - 4em );
}
#playlist li::after {
	content: attr(data-duration);
	position: absolute;
	right: .75em;
}
#playlist li.current {
	padding-left: .25em;
}
#playlist li.current::before {
	content: "\25b8"" " attr(data-title);
}

#console {
	background: #1c231a;
	bottom: 0;
	color: #0b0;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 13px;
	height: 250px;
	left: 0;
	line-height: 1.4;
	overflow-y: scroll;
	padding: 10px;
	position: fixed;
	right: 0;
	/* FF experimental - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars */
	scrollbar-color: #080 #333;
	scrollbar-width: thin;
}

#console i[class^="icons8-"] {
	font-size: 1.2em;
	vertical-align: middle;
}

#console .error {
	color: #c33;
}

#console::-webkit-scrollbar-track {
	background-color: #333;
}
#console::-webkit-scrollbar {
	width: 6px;
}
#console::-webkit-scrollbar-thumb {
	background-color: #080;
}

#enabled_modes,
#enabled_gradients {
	height: 260px;
	overflow-y: auto;
}

.credits {
	line-height: 1.6;
	text-align: center;
}
.credits a:not([class]) {
	color: #090;
}
.credits h1 {
	background: linear-gradient(-45deg, #ffdf43, #fa5476, #c63bf3, #8550ff, #4a68f7, #23d2ff);
	background-clip: text;
	display: inline;
	font: 30px Orbitron, sans-serif;
	margin: 0;
	text-shadow: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/**
 * Slider switches
 */

input.slider {
	display: none;
}

label.slider {
	background: linear-gradient(rgba(0,0,0,.4),rgba(255,255,255,0)),#0003;
	border-radius: 1.5em;
	box-shadow:	0 0.07em 0.1em -0.1em rgba(0,0,0,.4) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7);
	cursor: pointer;
	display: inline-block;
	font-size: 8px;
	height: 3em;
	margin: 1.6em 0 .5em;
	position: relative;
	transition: 350ms;
	vertical-align: middle;
	width: 5.5em;
}

label.slider::before {
	background: linear-gradient(#ddd 10%, #eee);
	border-radius: 50%;
	box-shadow:	0 0.1em 0.15em -0.05em rgba(255,255,255,.5) inset,
				0 0.5em 0.3em -0.1em rgba(0,0,0,.25);
	content:'';
	height: 2em;
	left: 0.5em;
	position: absolute;
	transition: 250ms ease-in-out;
	top: 0.5em;
	width: 2em;
}

label.slider::after {
	content:'';
	width: .5em;
	height: .5em;
	left: 6em;
	border-radius: 50%;
	background: linear-gradient( rgba(0,0,0,0.07), rgba(255,255,255,0.1) ), #444;
	box-shadow:	0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
				-7em 0 0 0 #b2ff00;
	position: absolute;
	top: 1.25em;
	transition: 250ms ease-in;
}

.slider-on,
.slider-off {
	color: #444;
	font-size: 10px;
	position: absolute;
	top: -1.4em;
}

.slider-on {
	left: 4em;
}
.slider-off {
	left: -2.25em;
}

input.slider:checked + .slider::before {
	left: 3em;
}

input.slider:checked + .slider::after {
	background: linear-gradient( rgba(0,0,0,.07), rgba(255,255,255,.1) ), #b2ff00;
	box-shadow:	0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
				0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
				-7em 0 0 0 rgba(0,0,0,.5);
}

input.slider:checked + .slider .slider-on,
input.slider:not(:checked) + .slider .slider-off {
	text-shadow: 0px 0px 5px;
	color: #b2ff00;
}

/**
 *  Pure CSS modal windows
 **/

.modal-window {
	background-color: #000d;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s;
	visibility: hidden;
	z-index: 999;
}
.modal-window:target {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}
.modal-window > div {
	background: #fff;
	left: 50%;
	max-width: 100%;
	overflow: auto;
	padding: 2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

.modal-close::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.modal-close-internal {
	background: #444;
	color: #fff;
	padding: 6px 10px;
	position: absolute;
	right: 1px;
	text-decoration: none;
	top: 1px;
}
.modal-close-internal::before {
	content: '\2715';
}
.modal-close-internal:hover {
	background: #c00;
}

/**
 * Webkit audio element customizations
 */
audio::-webkit-media-controls-enclosure {
	background: transparent;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    text-shadow: none;
}

/* Responsive layout */

@media screen and (max-width: 1200px) {
	.config-col {
		margin: 0 5px;
	}

	.file-panel .config-col {
		width: calc( 50% - 70px );
	}
}